.box {
  border: 3px solid orange;
  width: 400px;
  height: 500px;
  text-align: center;
  font-size: 2rem;
}

.item-img{
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.btn {
  margin-top: 200px;
}
.win {  border: 10px solid #00C73C;  color: #00C73C; }
.lose {  border: 10px solid red;  color: red; }
.tie {  border: 10px solid black;  color: black; }

.item-name {
  margin-top: 15px;
  font-weight: bold;
}

button {
  width: 200px;
  height: 100px;
  background-color: blanchedalmond;
  margin-right: 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

button:hover {
  background-color: azure;
}